<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709803314070-28eioijsaomgb1sdn8qbobvnsdrg4s07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709803314070-28eioijsaomgb1sdn8qbobvnsdrg4s07</string>
	<key>API_KEY</key>
	<string>AIzaSyBMw3NIL2ePxDk5qK48EuxmdJLC4xhmzto</string>
	<key>GCM_SENDER_ID</key>
	<string>709803314070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaltech.firstflutterapp</string>
	<key>PROJECT_ID</key>
	<string>sampleapp-74029</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleapp-74029.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709803314070:ios:bb13a28ab40d7aee1c6bb7</string>
	<key>DATABASE_URL</key>
	<string>https://sampleapp-74029.firebaseio.com</string>
</dict>
</plist>